<key>NSPhotoLibraryUsageDescription</key>
<string>Give Corporate NRI permission to save photos</string>
<key>NSCameraUsageDescription</key>
<string>Give Corporate NRI permission to access your camera</string>
<key>NSMicrophoneUsageDescription</key>
<string>Give Corporate NRI permission to use your microphone</string>